<div class="mediaContent" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #c5d0e4 !important;">
        <a class="navbar-brand" routerLink="">
            <img src="assets/img/logo.jpg" alt="" style="height: 40px;width: 80px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" style="padding-top: 1%">
                    <button class="btn btn-outline" type="button">HOME
                    </button>
                </li>&nbsp;&nbsp;
                <li class="nav-item dropdown">
                    <button class="btn btn-default" data-toggle="dropdown">OUR SERVICES
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle btn-primary" data-toggle="dropdown"
                                href="#"> <i class="fa fa-bar-chart fa-lg"></i> Work Order</a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" routerLink="/workOrder">Civil Work</a>
                                <a class="dropdown-item" routerLink="/workOrder">Wired Work</a>
                                <a class="dropdown-item" routerLink="/workOrder">Wireless Work</a>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-item" data-toggle="dropdown"
                            routerLink="/ims"><i class="fa fa-tv fa-lg"></i> IMS (Indivisual Measurement Sheet)</a>
                        </li>
                        <li class="dropdown"><a class="dropdown-item" data-toggle="dropdown"
                            routerLink="/jms"><i class="fa fa-cubes fa-lg"></i> JMS (Joint Measurement Sheet)</a>
                        </li>
                        <li class="dropdown"><a class="dropdown-item" data-toggle="dropdown"
                            routerLink="/billing"><i class="fa fa-newspaper-o fa-lg"></i> BILLING</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" style="padding-top: 1%">
                    <button class="btn btn-outline" type="button">ABOUT US
                    </button>
                </li>&nbsp;&nbsp;
                <li class="nav-item dropdown" style="padding-top: 1%">
                    <button class="btn btn-outline" type="button">CONTACT US
                    </button>
                </li>

                <li class="nav-item dropdown">
                    <button class="btn btn-default" type="button">
                        <div><img class="profileimg" src="assets/img/avatars/8.jpg" alt=""></div>
                    </button>
                    <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item">
                            <div class="row">
                                <div style="display: flex">
                                    <img class="profileimg" src="assets/img/avatars/8.jpg" alt="">&nbsp;&nbsp;
                                    <div>
                                        <div><b>Jhon mosh</b> </div>
                                        <div>moshmiller@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-bell-o fa-lg"></i>
                            My notifications<span class="badge badge-pill badge-danger" style=" position: relative;
                    left: 5px;">3</span></a>
                        <a class="dropdown-item" href="#"><i class="fa fa-commenting fa-lg"></i> Messages
                            <span class="badge badge-pill badge-danger" style=" position: relative;
                    left: 5px;">2</span></a>
                        <a class="dropdown-item" href="">Help</a>
                        <a class="dropdown-item" href="">Logout</a>
                    </div>
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </div>
    </nav>
</div>